<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Editing User</h4></div>
    <div class="panel-body">
			<%= render 'form' %>

			<%= link_to 'Show', @user, class: "btn btn-primary" %> |
			<%= link_to 'Back', users_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>
