<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><h2>Welcome To Umergram</h2>
    	<%= link_to "List All Users", users_path, class: "btn btn-default" %>
    </div>
	</div>
</div>
